/* Sidebar */
.nav-profile2 .nav-link {
    display: flex;
    border-radius: 3px;
    /* border: 1px solid rgb(255 255 255 / 45%); */
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 11px 76px 0px 16px;
    
   }

li {
list-style-type: none;
}
    .nav-profile2 .nav-link .profile-image {
      margin-right: 15px;
      position: relative; }
    
    .nav-profile2 .nav-link .dot-indicator {
      position: absolute;
      bottom: 0px;
      right: 0px; }
   .nav-profile2 .nav-link .profile-name {
      margin-bottom: 5px;
      margin-top: 14px;
      font-weight: 500;
      font-size: 15px;
      color: #fff; }
    .nav-profile .nav-link .designation {
      margin-bottom: 0;
      font-weight: 400;
      color: #fff; }

