
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar"> 
      <ul class="nav">
          <li class="nav-item nav-profile">
            <a>
            </a>
          </li>
          <li class="nav-item nav-category" routerLinkActive="active">Main Menu</li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/Articles" class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon typcn typcn-coffee"></i>
              <span class="menu-title">Articles </span>
            </a>
          </li>
      
      
      
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/OffreEmploi">
              <i class="menu-icon typcn typcn-shopping-bag"></i>
              <span class="menu-title">Offre emplois</span>
            </a>
          </li>
      
      
      
      
      
      
          <li class="nav-item" routerLinkActive="active">
      
            <a class="nav-link" routerLink="/Equipe">
      
              <i class="menu-icon typcn typcn-th-large-outline"></i>
              <span class="menu-title">Equipe </span>
            </a>
          </li>
      
      
      
      
      
          <li class="nav-item">
            <a class="nav-link" routerLink="/Services">
              <i class="menu-icon typcn typcn-bell"></i>
              <span class="menu-title">Services</span>
            </a>
          </li>
      
      
          <li class="nav-item">
            <a class="nav-link" routerLink="/membre">
              <i class="menu-icon typcn typcn-bell"></i>
              <span class="menu-title">Membres</span>
            </a>
          </li>
      
      
      
          <li class="nav-item">
            <a class="nav-link" routerLink="/Partenaire">
              <i class="menu-icon typcn typcn-user-outline"></i>
              <span class="menu-title">Partenaires</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contact">
              <i class="menu-icon typcn typcn-document-add"></i>
              <span class="menu-title">Contact</span>
      
            </a>
      
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Candidature">
              <i class="menu-icon typcn typcn-document-add"></i>
              <span class="menu-title">Candidature</span>
      
            </a>
      
          </li>


        </ul>
     
    </nav>
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">


      <!-- ///////////////////////////////////////////// -->
      
            <div class="navbar-brand-wrapper d-flex align-items-top justify-content-center">
              <!-- ***** -->
             
                    <li class="nav-item nav-profile2">
                      <a href="#" class="nav-link">
      
      
                        <div class="profile-image">
                          <img class="img-xs rounded-circle" src="assets/images/logo/ilef.jpg" alt="profile image">
                          
                        </div>
      
      
      
                        <div class="text-wrapper">
                          <p class="profile-name">Ilef Info Services</p>
                          <p class="designation"> </p>
                        </div>
                      </a>
                    </li>
                  
              
              <!-- ************** -->
            </div>
      <!--  -->
      
      
      
      
      
      
      
      
      
      
      
      
            <div class="navbar-menu-wrapper d-flex align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block">Tel :+336 35 39 78 99 </li>
              </ul>
           
              <ul class="navbar-nav ml-auto">
      
      
                  <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
      
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                      <img class="img-xs rounded-circle" src="assets/images/auth/face18.jpg" alt="Profile image"> </a>
                      
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
      
                      <div class="dropdown-header text-center">
                        <img class="img-md rounded-circle" src="assets/images/auth/face18.jpg" alt="Profile image">
                        <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                        <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
                      </div>
                      <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
                      <a class="dropdown-item" (click)="logout()">Logout<i class="dropdown-item-icon ti-location-arrow"></i></a>
                      
      
                    </div>
                  </li>
      
                  
              
            </ul>
      
         
      
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
      
               <!-- <h1> {{currentUser.id}}</h1> -->
      
             
      
      
      
      
            </div>
          </nav>
      
    <div class="main-panel"> 
      <div class="content-wrapper">
       <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
