<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <app-menu-head></app-menu-head>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row page-title-header margi">
                    <div class="col-12">
                        <div class="page-header">
                            <h4 class="page-title ">Partenaire </h4>
                            <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ************card************* -->
                <div class="col-lg-12  stretch-card2 ">
                    <div class="card2">
                        <div class="card-body">
                            <h4 class="card-title2">Ajouter un Partenaire</h4>
                            <!-- @@@@@@form@@@@@ -->
                            <form [formGroup]="formPartenaire">
                                <div class="row">
                                    <div class="col-md-11 pr-1">
                                        <div class="form-group">
                                            <label>nom</label>
                                            <input formControlName="nom" type="text" class="form-control"
                                                placeholder="nom" value="">
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Logo</label>
                                            <input formControlName="logo" type="text" class="form-control"
                                                placeholder="logo" value="">
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-secondary btn-rounded btn-fw "
                                            routerLink="/OffreEmploi">Cancel</button>
                                        <button class="btn btn-danger btn-rounded btn-fw "
                                            (click)="submitpartenaire($event)" type="submit">Submit</button>

                                    </div>
                                </div>
                            </form>
                            <!-- @@@end form @@@@àà -->

                        </div>
                    </div>
                </div>
                <!-- ******endcard************* -->
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>