 <div class="container-scroller">
                <div class="container-fluid page-body-wrapper">
                  <app-menu-head></app-menu-head>
                  <div class="main-panel">
                          <div class="content-wrapper">  
                              <div class="row page-title-header margi">
                                 <div class="col-12">
                                    <div class="page-header">
                                        <h4 class="page-title ">Articles </h4>
                                          <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                                                <!-- <ul class="quick-links">
                    <li><a href="#">ICE Market data</a></li>
                    <li><a href="#">Own analysis</a></li>
                    <li><a href="#">Historic market data</a></li>
                  </ul>
                  <ul class="quick-links ml-auto">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Watchlist</a></li>
                  </ul> -->
                                          </div>
                                    </div>
                                   </div>
           
                              </div>
                              <!-- ************Table ************* -->
                              <div class="col-lg-12  stretch-card ">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">Liste des Articles :</h4>


                                  <div  class="row">
                                  <div  class="col-md-10">
                                
                                  </div>
                                  <div  class="col-md-2">
                                  <button type="button" class="btn btn-inverse-danger btn-rounded btn-fw m1" routerLink="/CreateArticle">Ajouter</button>
                                  </div>
                                  </div>

                                    <!-- <p class="card-description"> Add class <code>.table-striped</code> </p> -->
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th> Titre</th>
                                          <th> Description </th>
                                          <th> Image </th>
                                          <th> Date Ajoiut </th>
                                          <th> Action </th>
                                        </tr>
                                      </thead>


                                      <tbody>

                                        <tr *ngFor="let computer of  listArticle " >

                                          <td class="py-1"> {{computer.title}} </td>
                                          <td> {{computer.description}} </td>
                                          <td class="py-1"> {{computer.image}}</td>
                                          <td> {{computer.DateAjout}} </td>
                                          <td class="icon2">
                                          <i class="fa-trash-o  fa ico1"></i> 
                                          <i class="fa fa-edit ico2"></i>    
                                          </td>
                                        </tr>
                                      </tbody>



                                    </table>
                                  </div>
                                </div>
                              </div>  
                            <!-- ******endtable************* -->
                          </div>   
                          <app-footer></app-footer>
                  </div>
                </div>             
</div>