<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <app-menu-head></app-menu-head>
        <app-menu-left></app-menu-left>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row page-title-header margi">
                    <div class="col-12">
                        <div class="page-header">
                            <h4 class="page-title ">Articles </h4>
                        </div>
                    </div>

                </div>
                <!-- ************Table ************* -->
                <div class="col-lg-12  stretch-card ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Liste des Articles :</h4>


                            <div class="row">
                                <div class="col-md-10">

                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-inverse-danger btn-rounded btn-fw m1"
                                        routerLink="/CreateArticle">Ajouter</button>
                                </div>
                            </div>

                            <!-- <p class="card-description"> Add class <code>.table-striped</code> </p> -->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Titre</th>
                                        <th> Description </th>
                                        <th> Date Ajout </th>
                                        <th> image </th>

                                        <th rowspan="2">
                                            <div class="position">Action </div>
                                        </th>

                                    </tr>
                                </thead>


                                <tbody>
                                    <tr *ngFor="let Article of  Articles ">

                                        <td class="py-1"> {{ Article.title}} </td>
                                        <td class="py-4 " style="  padding: 25px;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        width: 100px;
                                       
                                        text-overflow: ellipsis; "> {{ Article.description}} </td>
                                        <td class="py-1"> {{ Article.DateAjout}}</td>
                                        <td class="py-1"> {{ Article.image}}</td>
                                        <td class="py-2">

                                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-fw m"
                                                (click)="deleteArticle(Article.id)">S</button>

                                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-fw m"
                                                routerLink="/UpdateArticle/{{Article.id}}"> M </button>
                                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-fw m"
                                                routerLink="/listeCommentaire/{{Article.id}}"> C</button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <!-- ******endtable************* -->
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>