
       
       <div *ngIf="isDataLoading ">
        <app-loading > </app-loading>
      </div>
            <div class="content-wrapper" *ngIf=" !isDataLoading" >
     
                <div class="row page-title-header margi">
                    <div class="col-12">
                        <div class="page-header">
                            <h4 class="page-title ">Articles </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  stretch-card ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Liste des Articles :</h4>
                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-inverse-danger btn-rounded btn-fw m1"
                                        routerLink="/CreateArticle">Ajouter</button>
                                </div>
                            </div>
                            <table class="table-striped">
                                <thead>
                                    <tr>
                                        <th> Titre</th>
                                        <th> Description </th>
                                        <th> Date Ajout </th>
                                        <th> image </th>
                                        <th rowspan="2">
                                            <div class="position">Action </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let Article of  Articles ">
                                        <td class="py-1"> {{ Article.title}} </td>
                                        <td class="py-4 " style="  padding: 25px;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        width: 100px;
                                        text-overflow: ellipsis; "> {{ Article.description}} </td>
                                        <td class="py-1"> {{ Article.DateAjout}}</td>
                                        <td class="py-1">  <img src="http://127.0.0.1:8000/upload/{{Article.image}}" width="60%" height="60%"></td> 
                                        <td class="py-2">                    
                      <button   (click)="deleteArticle(Article.id ,$event)"    style=" width: 50px ;"type="button" class="btn btn-icons btn-inverse-secondary">
                        <i class="fa fa-trash-o"></i>
                      </button>
                      <button routerLink="/UpdateArticle/{{Article.id}}"   style=" width: 50px ;"type="button" class="btn btn-icons btn-inverse-secondary">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button  routerLink="/listeCommentaire/{{Article.id}}"   style=" width: 50px ;"type="button" class="btn btn-icons btn-inverse-secondary">
                        <i class="fa fa-comment"></i>
                      </button>   
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

