/* You can add global styles to this file, and also import other style files */

/* .btn.btn-rounded {
    
} */

.btn-position{

    border-radius: 50px;
    float: right;
    margin: 4px ;
}

.form-control:focus 
{
    border-color:#ff6258;
    

}


.form-control {
    border-radius: 27px;
}

.main-panel {
    margin-top: 49px;
}
.btn:not(:disabled):not(.disabled)
{
    margin-bottom: 15px;
}


table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
     table-layout: fixed;
  

  }
/* 
.table .body{
  table-layout: fixed;
} */

  table td,
  table th {
    border: 1px solid #dadada;
    padding: 5px;
  }
  table thead th {
    text-align: left;

  }
  table thead th:nth-child(0),
  table thead th:nth-child(1){
    width: 20%;
  }
  
  table thead th:nth-child(2){
    width: 20%;
  }
  table thead th:nth-child(3){
    width: 20%;
  }